node_modules
.env
.env.example
.DS_Store

# Carpeta de uploads local (Ignorada ya que se usa S3 en producción)
uploads/

# Logs de PM2
logs/

# Archivos de base de datos locales
database.sqlite
*.sql
